body{
  background-image: linear-gradient(127deg, #f7f5ff, #e5f4ff 72%);
}

h1{
  font-family: 'Epilogue', sans-serif;
  font-size: 5em;
  color: black;
  margin-top: 5%;
  margin-left: 13%;
  margin-bottom: 15%;
  margin-right: 10%
}

button{
    font-family: 'Epilogue', sans-serif;
    margin-top: 5%;
    margin-left: 35%;
    padding: 20px 50px;
    background-color: #linear-gradient(127deg, #f7f5ff, #e5f4ff 72%);
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}

button:hover{
  background-color: black;
  color: white;
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}

fieldset{
  border: 2px solid black;
  background-color: #4353ff;
  margin-top: 10%;
}
